<!-- {% extends 'Master.html' %}
{% load static %}
{% block title%}HOME PAGE{% endblock %}
{% block content%}
    {% include 'CommonLink.html' %}
    <h1>WElcome to Home</h1>
{% endblock %}
 -->
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <body>
        <h1>Welcome to the Student Management API</h1>
        
    </body>
    
</body>
</html>
