<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    {% include 'CommonLink.html' %}
    {% include 'M.html' %}
    <div class="main">
    
    
   
        <h1>Admin Login</h1>
    
        <form method="post" action="{{ url_for('admin_login') }}">
            {{ form.hidden_tag() }}
            <label for="username">Username:</label>
            {{ form.username(class="form-control", placeholder="Enter your username", required="required") }}
            <br>
            <label for="password">Password:</label>
            {{ form.password(class="form-control", placeholder="Enter your password", required="required") }}
            <br>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    
    
</body>
</html>
